<html>
<head>
    <title>Motivational App by Raj</title>
    <style>
        body { background-color:Azure; Font:Cambria; font-size:15px; }
        img { max-width: 100%; height: 80%; }
    </style>
</head>
<body>
<center>
        <h1>Random Motivational Quote</h1>
        <form method="get">
            <input type="submit" value="Get Quote" name="btn" font:Cambria;/>
        </form>
        {% if image_url %}
            <img src="{{ image_url }}" alt="Motivational Image"/>
        {% endif %}
</center>
</body>
</html>